.u-pad {
  &--body {
    padding: 0 20%;

    &--l {
      padding: 0 0 0 20%;
    }

    &--r {
      padding: 0 20% 0 0;
    }
  }
}

.u-mar{
  &__btm {
    &--mini {
      margin-bottom: 4rem !important;
    }
  }
}

.u-bg {
  &--white {
    background-color: $color-white;
    height: 100%;
  }
}

.text {
  &--white {
    color: $color-white !important;
  }
}