// Fonts
$font-primary: 'Baloo Bhaina 2', cursive;
$font-secondary: 'Montserrat', sans-serif;

$font-size-default: 1.6rem;
$font-size-mini: 1.4rem;
$font-size-small: 2rem;
$font-size-medium: 3rem;
$font-size-big: 5rem;
$font-size-huge: 6rem;

// Colors
$color-primary-light: #C1A57B;
$color-primary-dark: #30475E;
$color-secondary-light: #ECECEC;
$color-secondary-dark: #222831;

$color-white: #ffffff;

// Box shadow
$box-shadow-1: 0 6px 10px rgba(0,0,0, 0.08);
$box-shadow-2: 0 6px 3px rgba(0,0,0, 0.08);

// Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;