[class^="button"] {
  font-family: $font-primary;
  border: none;
  transition: all .1s ease-out;
  border-radius: 1.5px;

  &:focus {
    outline: none;
  }
}

.button {
  &__signin {
    color: $color-secondary-light;
    background-color: $color-primary-light;
    height: 3.5rem;
    width: 10rem;
    font-size: $font-size-default;

    &:hover {
      transform: scale(1.1) translateY(-0.5px);
      box-shadow: $box-shadow-1;
    }

    &:active {
      transform: translateY(0.5px);
      box-shadow: none;
    }
  }

  &__login {
    color: $color-secondary-light;
    background-color: $color-primary-dark;
    height: 3.5rem;
    width: 10rem;
    font-size: $font-size-default;

    &:hover {
      transform: scale(1.1) translateY(-0.5px);
      box-shadow: $box-shadow-1;
    }

    &:active {
      transform: translateY(0.5px);
      box-shadow: none;
    }
  }

  &__filter {
    background-color: $color-secondary-light;
    width: 8.2rem;
    height: 2.8rem;
    font-family: $font-secondary;
    font-weight: 100;

    &:active {
      background-color: $color-primary-light;
    }

    &:not(:last-child){
      margin-right: 1rem;
    }
  }
}

