.section {
  &__images {
    width: 20rem;
    height: 40vh;
    float: left;
    margin-right: 5rem;
    margin-top: 0;

    &--display {
      margin-top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      box-shadow: $box-shadow-2;
    }

    &--button {
      max-width: 7rem;
      height: 8rem;
      border: none;
      margin-top: 2rem;

      img {
        @include imgFit;
      }
    }
  }

  &__description {
    margin-top: 16rem;

    .description {
      &__name {
        font-weight: 600;
      }

      &__condition {
        .text__description {
          display: block;
          margin-bottom: 1.5rem;
        }

        .button__filter {
          margin-bottom: 2rem;
        }
      }

      &__price {
        float: left;
        margin-right: 25rem;
      }

      &__stock {
        margin-bottom: 16rem;
      }

      &__buy {
        float: left;
      }
    }
  }
}