.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 8rem;
  width: 100%;
  font-family: $font-primary;
  font-size: $font-size-default;
  padding-top: 2.5rem;
  box-shadow: $box-shadow-1;
  background-color: $color-white;

  > * {
    display: inline-block;
  }

  &__logo {
    float: left;
    height: 8rem;
    margin-left: 5rem;
    transform: translateY(-3rem);
  }

  &__kategori {
    float: left;
    margin: 0 3rem 0 8rem;

    // Typhography
    font-weight: 500;
    font-family: $font-secondary;
    text-decoration: none;
    color: $color-secondary-dark;
  }

  &__searchbar {
    float: left;
  }

  &__icon {
    float: right;

    > * {
      display: inline;
    }

    &--wishlist {
      margin-right: 6rem;
      height: 3.5rem;
    }
    &--cart {
      margin-right: -1rem;
      position: relative;

      .cart__number {
        @include absCenter;
        top: -60%;
        font-weight: 700;
        font-size: $font-size-small;
      }

      .cart__icon {
        @include absCenter;
        height: 3.5rem;
        top: 20%;
      }
    }
  }

  &__button {
    float: right;
    margin: 0 5rem;

    > * {
      margin-left: 2.5rem;
    }
  }

}