input[class^="searchbar"] {
  font-family: $font-secondary;
  opacity: 50%;
  background-color: $color-secondary-light;
  border: rgba($color-secondary-dark, 0.5) 0.25px solid;

  &:focus {
    outline: none;
  }
}

.searchbar {
  &--small {
    height: 3.5rem;
    width: 40rem;
    padding-left: 1rem;
  }
}

