@keyframes MovingLeft {
  25% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(10%);
  }
}
@keyframes MovingRight {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-10%);
  }
}
.animate--left {
  animation: MovingLeft 7s ease infinite;
}
.animate--right {
  animation: MovingRight 7s ease infinite;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0 !important;
  }
}
body ::selection {
  background-color: #C1A57B;
  color: #ECECEC;
}

body {
  font-family: "Baloo Bhaina 2", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #222831;
}

a {
  color: #222831;
  text-decoration: none;
}
a:hover {
  color: #ECECEC;
}

.heading--primary {
  color: #222831;
  font-size: 5rem;
  font-weight: 400;
}
.heading--secondary {
  color: #30475E;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3.5rem;
}
.heading--tertiary {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.heading--button {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  text-decoration: underline;
  transition: all 0.2s ease-out;
  width: max-content;
  margin: 0 auto;
}
.heading--button:hover {
  background-color: #C1A57B;
  color: #ECECEC;
  transform: translateY(-0.3rem);
}

.text__title {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text--small {
  font-size: 1.4rem;
}
.text--medium {
  font-size: 2rem;
  font-weight: 100;
}
.text--medium-bold {
  font-size: 2rem;
  font-weight: 500;
}

.u-pad--body {
  padding: 0 20%;
}
.u-pad--body--l {
  padding: 0 0 0 20%;
}
.u-pad--body--r {
  padding: 0 20% 0 0;
}

.u-mar__btm--mini {
  margin-bottom: 4rem !important;
}

.u-bg--white {
  background-color: #ffffff;
  height: 100%;
}

.text--white {
  color: #ffffff !important;
}

[class^=button] {
  font-family: "Baloo Bhaina 2", cursive;
  color: #ECECEC;
  border: none;
}
[class^=button]:active {
  outline: none;
}

.button__signin {
  background-color: #C1A57B;
  height: 3.5rem;
  width: 10rem;
  font-size: 1.6rem;
}
.button__login {
  background-color: #30475E;
  height: 3.5rem;
  width: 10rem;
  font-size: 1.6rem;
}

.card__product {
  width: 100%;
  min-height: 25rem;
  background-color: #ECECEC;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.08);
  color: #222831;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
}
.card__product--image {
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
}
.card__product--name {
  display: block;
  margin: 0 1rem 1rem 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.card__product--price {
  margin: 0 0 0 1rem;
  font-weight: 700;
}
.card__product--stock {
  float: right;
  margin: 0 1rem 0 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.card__rect {
  padding: 0 auto;
}
.card__rect--small {
  margin: 0 auto;
  transform: skew(-15deg, 0);
  background-image: url(../../../public/img/dummy.jpg);
  background-size: cover;
  width: 90%;
  padding-top: 90%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}
.card__rect--small span {
  transform: translate(-50%, -50%) skewX(15deg);
}
.card__rect--medium {
  display: inline-block;
  transform: skew(-15deg, 0);
  width: 100%;
  height: 25rem;
  background-color: #ECECEC;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.08);
}
.card__rect--medium img {
  float: left;
  width: 40%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
}
.card__rect--medium .text--small {
  margin: 8% 0 0 5%;
  float: left;
  display: block;
}
.card__rect--medium .text--medium-bold {
  float: left;
  margin: 1.5% 0 0 5%;
  display: block;
  max-width: 40%;
}
.card__rect--medium .text--medium {
  display: block;
  float: right;
  margin: 2% 5% 0 0;
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: #222831;
  padding-top: 8rem;
  position: relative;
}
.footer__tentang {
  float: left;
}
.footer__tentang--li {
  display: block;
  color: #ECECEC;
  font-weight: 100;
}
.footer__tentang span {
  margin-top: 2rem;
}
.footer__logo {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__kontak {
  float: right;
}
.footer__kontak--li {
  display: block;
  color: #ECECEC;
  font-weight: 100;
  text-align: right;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 8rem;
  width: 100%;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.6rem;
  padding-top: 2.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
.header > * {
  display: inline-block;
}
.header__logo {
  float: left;
  height: 8rem;
  margin-left: 5rem;
  transform: translateY(-3rem);
}
.header__kategori {
  float: left;
  margin: 0 3rem 0 8rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #222831;
}
.header__searchbar {
  float: left;
}
.header__icon {
  float: right;
}
.header__icon > * {
  display: inline;
}
.header__icon--wishlist {
  margin-right: 6rem;
  height: 3.5rem;
}
.header__icon--cart {
  margin-right: -1rem;
  position: relative;
}
.header__icon--cart .cart__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -60%;
  font-weight: 700;
  font-size: 2rem;
}
.header__icon--cart .cart__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.5rem;
  top: 20%;
}
.header__button {
  float: right;
  margin: 0 5rem;
}
.header__button > * {
  margin-left: 2.5rem;
}

input[class^=searchbar] {
  font-family: "Montserrat", sans-serif;
  opacity: 50%;
  background-color: #ECECEC;
  border: rgba(34, 40, 49, 0.5) 0.25px solid;
}
input[class^=searchbar]:focus {
  outline: none;
}

.searchbar--small {
  height: 3.5rem;
  width: 40rem;
  padding-left: 1rem;
}

body {
  box-sizing: border-box;
}

.NMrow {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.NMrow::after {
  content: "";
  display: table;
  clear: both;
}
.NMrow [class^=col-] {
  float: left;
  height: 100%;
}
.NMrow .col-1-of-2 {
  width: calc(100% / 2);
}
.NMrow .col-1-of-3 {
  width: calc(100% / 3);
}
.NMrow .col-2-of-3 {
  width: calc(100% / 3 * 2);
}
.NMrow .col-1-of-4 {
  width: calc(100% / 4);
}
.NMrow .col-2-of-4 {
  width: calc(100% / 4 * 2);
}
.NMrow .col-3-of-4 {
  width: calc(100% / 4 * 3);
}
.NMrow .col-1-of-5 {
  width: calc(100% / 5);
}
.NMrow .col-2-of-5 {
  width: calc(100% / 5 * 2);
}
.NMrow .col-3-of-5 {
  width: calc(100% / 5 * 3);
}
.NMrow .col-4-of-5 {
  width: calc(100% / 5 * 4);
}

.NMcol {
  height: inherit;
  background-color: yellow;
  border-right: white solid 1px;
  margin: 1rem 0;
}
.NMcol:not(:last-child) {
  margin-bottom: 6rem;
}
.NMcol::after {
  content: "";
  display: table;
  clear: both;
}
.NMcol [class^=row-] {
  background-color: blueviolet;
  color: white;
  display: block;
}
.NMcol .row-1-of-2 {
  height: calc(100% / 2);
}
.NMcol .row-1-of-3 {
  height: calc(100% / 3);
}
.NMcol .row-2-of-3 {
  height: calc(100% / 3 * 2);
}
.NMcol .row-1-of-4 {
  height: calc(100% / 4);
}
.NMcol .row-2-of-4 {
  height: calc(100% / 4 * 2);
}
.NMcol .row-3-of-4 {
  height: calc(100% / 4 * 3);
}
.NMcol .row-1-of-5 {
  height: calc(100% / 5);
}
.NMcol .row-2-of-5 {
  height: calc(100% / 5 * 2);
}
.NMcol .row-3-of-5 {
  height: calc(100% / 5* 3);
}
.NMcol .row-4-of-5 {
  height: calc(100% / 5 * 4);
}

body {
  box-sizing: border-box;
}

.row {
  max-width: inherit;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 6rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 4rem;
}
.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3);
}
.row .col-2-of-3 {
  width: calc(( ( 100% - 2 * 4rem ) / 3 ) * 2 + 4rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4);
}
.row .col-2-of-4 {
  width: calc(((100% - 3 * 4rem) / 4) * 2 + 4rem);
}
.row .col-3-of-4 {
  width: calc(3* ((100% - 3 * 4rem)) / 4 + 4rem);
}
.row .col-3-of-4 {
  width: calc(((100% - 3 * 4rem) / 4) * 3 + 2 * 4rem);
}
.row .col-1-of-5 {
  width: calc((100% - 4 * 4rem) / 5);
}
.row .col-2-of-5 {
  width: calc(((100% - 4 * 4rem) / 5) * 2 + 4rem);
}
.row .col-3-of-5 {
  width: calc(((100% - 4 * 4rem) / 5) * 3 + 2 * 4rem);
}
.row .col-4-of-5 {
  width: calc(((100% - 4 * 4rem) / 5) * 4 + 3 * 4rem);
}

.col {
  height: inherit;
  background-color: yellow;
  margin: 1rem 0;
}
.col:not(:last-child) {
  margin-bottom: 6rem;
}
.col::after {
  content: "";
  display: table;
  clear: both;
}
.col [class^=row-] {
  background-color: blueviolet;
  color: white;
  display: block;
}
.col [class^=row-]:not(:last-child) {
  margin-bottom: 6rem;
}
.col .row-1-of-2 {
  height: calc((100% - 6rem) / 2);
}
.col .row-1-of-3 {
  height: calc((100% - 2 * 6rem) / 3);
}
.col .row-2-of-3 {
  height: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem);
}
.col .row-1-of-4 {
  height: calc((100% - 3 * 6rem) / 4);
}
.col .row-2-of-4 {
  height: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem);
}
.col .row-3-of-4 {
  height: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem);
}
.col .row-1-of-5 {
  height: calc((100% - 4 * 6rem) / 5);
}
.col .row-2-of-5 {
  height: calc(((100% - 4 * 6rem) / 5) * 2 + 6rem);
}
.col .row-3-of-5 {
  height: calc(((100% - 4 * 6rem) / 5) * 3 + 2 * 6rem);
}
.col .row-4-of-5 {
  height: calc(((100% - 4 * 6rem) / 5) * 4 + 3 * 6rem);
}
.col-small {
  height: inherit;
  background-color: #404040;
  margin: 1rem 0;
}
.col-small:not(:last-child) {
  margin-bottom: 6rem;
}
.col-small::after {
  content: "";
  display: table;
  clear: both;
}
.col-small [class^=row-] {
  background-color: blueviolet;
  color: white;
  display: block;
}
.col-small [class^=row-]:not(:last-child) {
  margin-bottom: 6rem;
}
.col-small .row-1-of-4 {
  height: calc((100% - 3 * 6rem) / 4);
}
.col-small .row-2-of-4 {
  height: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem);
}
.col-small .row-3-of-4 {
  height: calc(((100% - 3 * 6rem) / 4) * 3 + 2 * 6rem);
}
.col-small .row-1-of-5 {
  height: calc((100% - 4 * 6rem) / 5);
}
.col-small .row-2-of-5 {
  height: calc(((100% - 4 * 6rem) / 5) * 2 + 6rem);
}
.col-small .row-3-of-5 {
  height: calc(((100% - 4 * 6rem) / 5) * 3 + 2 * 6rem);
}
.col-small .row-4-of-5 {
  height: calc(((100% - 4 * 6rem) / 5) * 4 + 3 * 6rem);
}

[class^=section] {
  margin-top: 8rem;
}

.section__banner {
  position: relative;
  height: 60vh;
}
.section__banner .banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__banner .banner__text {
  font-size: 6rem;
  position: absolute;
  right: 18rem;
  bottom: 0;
  max-width: 30vw;
  color: #ffffff;
}
.section__testimoni {
  width: 100%;
}
.section__kelebihan {
  margin-top: 16rem;
}
.section__kelebihan--1 {
  height: 40vh;
}
.section__kelebihan--1--kiri {
  padding: 0 0 0 20%;
  background-color: #C1A57B;
}
.section__kelebihan--1--kiri div {
  padding: 3rem 0 0 3rem;
}
.section__kelebihan--1--kanan {
  padding: 0 20% 0 0;
  background-color: #30475E;
}
.section__kelebihan--1--kanan img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section__kelebihan--2 {
  height: 40vh;
}
.section__kelebihan--2--kiri {
  padding: 0 0 0 20%;
  background-color: #30475E;
}
.section__kelebihan--2--kiri img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section__kelebihan--2--kanan {
  padding: 0 20% 0 0;
  background-color: #C1A57B;
  text-align: right;
}
.section__kelebihan--2--kanan div {
  padding: 3rem 3rem 0 0;
}
.section__kelebihan--3 {
  height: 30vh;
}
.section__kelebihan--3--kiri {
  padding: 4rem 0 0 20%;
  background-color: #C1A57B;
}
.section__kelebihan--3--kiri img {
  width: 80%;
  height: auto;
}
.section__kelebihan--3--kanan {
  padding: 4rem 20% 0 0;
  background-color: #30475E;
  text-align: right;
}
.section__kelebihan--3--kanan img {
  width: 30%;
  height: auto;
  margin-top: -2rem;
}

/*# sourceMappingURL=App.css.map */
