@keyframes MovingLeft {
  25% {
    transform: translateX(-5%);
  }

  75% {
    transform: translateX(10%);
  }
}

@keyframes MovingRight {
  25% {
    transform: translateX(5%);
  }

  75% {
    transform: translateX(-10%);
  }
}

.animate {
  &--left {
    animation: MovingLeft 7s ease infinite;
  }

  &--right {
    animation: MovingRight 7s ease infinite;
  }
}